ENV={{ stage }}
ROOT={{ base_url }}
UNIT={{ component }}

PLACEHOLDER={{ token }}
PLACEHOLDER={{ token }}
PLACEHOLDER={{ token }}
PLACEHOLDER={{ token }}
PLACEHOLDER={{ token }}
PLACEHOLDER={{ token }}
PLACEHOLDER={{ token }}
